@use '../utils/mixins' as mix;
@use '../utils/variables' as *;

header{
    width: 100%;
    background: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    height: 80px;
    font-family: 'Rubik';
    position: sticky;
    z-index: 99999;
    top: 0;
    .nav{
        width: 100%;
        height: 80px;
        @include mix.df(space-between, center, row);
        gap: 1rem;
        @media (max-width: 1100px) {
            justify-content: center;
        }
        &__logo{
            @include mix.df;
            img{
                width: 40px;
            }
            h1{
                font-size: $font24;
                text-transform: uppercase;
                color: var(--fontColor-black);
            }
            gap: 0.5rem;
            @media (max-width: 900px) {
                h1{
                    display: none;
                }
            }
        }
        .inpHiddenSearch{
            display: none;
            position: relative;
            @media (max-width: 700px) {
                display: flex;
                flex-grow: 1;
            }
            input.navInphidden{
                width: 100%;
                min-width: 150px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                padding: 8px;
                color: var(--inp-grey);
                font-size: $font16;
                font-weight: 400;
                border: 1px solid var(--color-green);
        }
        img{
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
}
        }
        &__menu{
            @include mix.df;
            flex-grow: 1;
            gap: 1rem;
            @media (max-width: 1100px) {
                flex-grow: 0;
            }
            @media (max-width: 700px) {
                position: fixed;
                bottom: 0;
                width: 100%;
                z-index: 999;
                height: 60px;
                background-color: white;
            }
            .inpSearch{
                position: relative;
                @media (max-width: 700px) {
                    display: none;
                }
                input{
                    width: 300px;
                    min-width: 150px;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    padding: 8px;
                    color: var(--inp-grey);
                    font-size: $font16;
                    font-weight: 400;
                    border: 1px solid var(--color-green);
                }
                img{
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
}
            }
            &-user{
                @include mix.df;
                gap: 1rem;
                color: var(--color-darker);
                font-weight: 200;
                font-size: $font16;
                .logRegButton{
                    font-size: $font16;
                    font-weight: 700;
                }
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
}
                @media (max-width: 1100px) {
                    p{
                        display: none;
                    }
                }
            }
            button{
                @include mix.df($fd: column);
                font-size: $font12;
                color: var(--fontColor-black);
                font-weight: 400;
                background: transparent;
                border: 1px solid transparent;
                border-radius:  4px;
                -webkit-border-radius:  4px;
                -moz-border-radius:  4px;
                -ms-border-radius:  4px;
                -o-border-radius:  4px;
                position: relative;
                padding: 2px;
                &:hover{
                    color: var(--color-green);
                    svg{
                        path{
                            fill: var(--color-green)
                        }
                    }
                }
                span{
                    position: absolute;
                    top: 2px;
                    right: 10px;
                    width: 12px;
                    height: 12px;
                    font-size: 10px;
                    font-weight: 600;
                    border-radius: 3px;
                    color: white;
                    @include mix.df;
                    background-color: var(--color-orange);
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
}
            }
            button.cat-btn{
                @include mix.button(140px, 40px, #70C05B, white, false, 16px, 8px);
                @include mix.df(space-evenly, center, row);
                &:hover{
                    background-color: #4eb335;
                }
                font-weight: 300;
                @media (max-width: 1100px) {
                    p{
                        display: none;
                    }
                    width: 40px;
                }
                @media (max-width: 700px) {
                    background-color: transparent;
                    font-size: $font12;
                    color: var(--fontColor-black);
                    font-weight: 400;
                    svg{
                        path{
                            fill: var(--fontColor-black);
                        }
                    }
                    p{
                        display: block;
                    }
                    @include mix.df($fd: column)
                }
            }
        }
    }
}